$grayish: #DFE1E5;
$white: #FFFFFF;
$light-gray: #F8F9FA;
$dark: #3C4043;
$dark2: rgba(0,0,0,.87);
$blue: #4285F4;
$red: #D93025;
$dark3: #333333;
$dark-gray: #9AA0A6;
$darker-gray: #777777;
$dark-again: #555555;
$dark-blue: #3079ED;
$lighter-blue: #4C8EFB;
$another-blue: #337CF3;