@import 'intro';
@import 'media-queries';


nav {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    img {
        height: 32px;
    }

    a {
        margin-right: 20px;
        color: $dark2;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

        &:hover {
            color: $blue;
        }
    }
}

$input-length: 550px;
// $input-length: 80%;

.advancedSearch {
    // border: 2px solid black;
    padding: 20px 50px;
    #title {
        color: $red;
        font-size: 21px;
        margin-bottom: 60px;
    }

    form {
        table {
            td {
                flex-wrap: wrap;
                padding: 10px;
            }

            #num-range .input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .container {
                    min-width: calc($input-length*.5);
                }
                p {
                    padding: 0px 15px;
                }
            }
            
            #titles {
                #find_pages {
                    color: $dark3;
                }

                #to_do_this {
                    font-weight: bold;
                    font-size: 13px;
                    color: $darker-gray;
                    @include tablet {
                        display: none;
                    }
                }
            }

            .labels {
                width: 200px;
                color: $dark3;
                font-size: 14px;
            }

            .input {
                .container {
                    border: 1px solid $grayish;
                    // width: $input-length;
                    min-width: $input-length;
                    
                    display: flex;
                    border-radius: 2px;
                    input {
                        flex: 1;
                        padding: 6px 10px;
                        background: transparent;
                        border: none; outline: none;

                        &:focus {
                            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1) inset;
                        }
                    }
                }
            }

            .instructions {
                width: 310px;
                font-size: 13px;
                @include tablet {
                    display: none;
                }
            }

            #buttonPart {
                #td-button {
                    display: flex;
                    justify-content: right;
                    
                    input {
                        margin-top: 14px;
                        padding: 8px 12px;
                        background-color: $lighter-blue;
                        border: 1px solid $dark-blue;
                        border-radius: 4px;
                        cursor: pointer;
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: 12px;

                        &:hover {
                            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2) inset;
                        }
                    }
                    
                }
            }
        }
    }
}