@import 'intro';

nav {
    display: flex;
    justify-content: right;
    padding: 30px 40px;
    a {
        color: $dark2;
        font-size: 14px;
        text-decoration: none;
        margin-left: 40px;

        &:hover {
            color: $blue;
        }
    }
}

center {
    // border: 2px solid black;
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        position: relative;
        text-decoration: none;
        img {
            width: calc(384px - $subtract);
            margin-bottom: 30px;
        }
        p {
            position: absolute;
            font-family: "Roboto", sans-serif;
            color: $blue;
            text-decoration: none;
            bottom: 28px; right: 0;
            font-size: 18px;
        }
    }

    $search-bar-length: 600px;

    #search-bar {
        @extend %flex-vertical;
        border: 1px solid $grayish;
        width: $search-bar-length;
        height: 50px;
        padding-left: 20px;
        padding-right: 10px;
        border-radius: 40px;
        margin-bottom: 30px;
        position: relative;
        justify-content: left;

        i {
            color: $dark-gray;
        }

        input[type="text"]{
            @extend %no-border-outline;
            width: calc($search-bar-length - 70px);
            font-size: 17px;
            padding: 5px 16px;
        }

        &:hover {
            box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
        }

        #search-button {
            cursor: pointer;
            padding: 2px 12px;
            @extend %no-border-outline;
            i {
                font-size: 17px;
                color: $another-blue;
            }
        }

    }

    /*
    .buttons {
        input[type="submit"] {
            background-color: $light-gray;
            padding: 12px;
            width: 200px;
            margin-left: 12px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            font-size: 15px;
            color: $dark;

            &:hover {
                box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
            }
        }
    } */
    /*
    #search-bar {
        display: flex;
        align-items: center;
        border: 1px solid $grayish;
        width: $search-bar-length;
        height: 50px;
        padding-left: 20px;
        padding-right: 10px;
        border-radius: 40px;
        margin-bottom: 30px;
        position: relative;
        justify-content: left;

        i {
            color: $dark-gray;
        }

        input[type="text"]{
            background: transparent;
            border: none;
            outline: none;
            width: calc($search-bar-length - 70px);
            font-size: 17px;
            padding: 5px 16px;
        }

        input[type="submit"]{
            display: none;
        }

        &:hover {
            box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
            // box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.3);
        }
    }

    .buttons {
        font-family: Arial, Helvetica, sans-serif;
        button {
            background-color: $light-gray;
            padding: 15px 20px;
            width: 200px;
            margin-left: 12px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            a {
                font-size: 15px;
                color: $dark;
                text-decoration: none;
            }

            &:hover {
                box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
            }
        }
    }
    */
}