{% extends "auctions/layout.html" %}

{% block title %}
    New Listing
{% endblock %}

{% block body %}

<div id="createListing-page">
    <h2>Create New Listing</h2>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="answer-form">
            <div class="input-title">Title</div>
            <div class="input-container">
                <input autofocus type="text" name="title" placeholder="Title" required>
            </div>
        </div>
        <div class="answer-form">
            <div class="input-title">Description</div>
            <div class="input-container" id="textfield">
                <textarea type="text" name="description" placeholder="Description" required></textarea>
            </div>
        </div>
        <div class="answer-form">
            <div class="input-title">Category</div>
            <div class="input-container">
                <input type="text" name="category" list="categories" placeholder="Category">
                <datalist id="categories">
                    {% for category in category_list %}
                        <option value="{{ category }}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="answer-form">
            <div class="input-title">Image URL</div>
            <div class="input-container">
                <input type="url" name="img_url" placeholder="Image URL" required>
            </div>
        </div>
        <div class="answer-form">
            <div class="input-title">Starting Bid</div>
            <div class="input-container">
                <input type="number" name="starting_bid" placeholder="Starting Bid" required>
            </div>
        </div>
        <input type="text" value="{{ user.id }}" name="lister" style="display: none;" required> <br>
        <div class="break"></div>
        <input type="submit" id="create-listing" value="Create"> 
    </form>
</div>


<!-- <div id="createListing-page">
    <h2>Create New Listing</h2>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" required> <br>
        <input type="text" name="description" placeholder="Description" required> <br>
        <input type="text" name="category" list="categories" placeholder="Category"> <br>
        <datalist id="categories">
            {% for category in category_list %}
                <option value="{{ category }}"></option>
            {% endfor %}
        </datalist>
        <input type="url" name="img_url" placeholder="Image URL" required> <br>
        <input type="number" name="starting_bid" placeholder="Starting Bid" required> <br>
        <input type="text" value="{{ user.id }}" name="lister" style="display: none;" required> <br>
        <input type="submit">
    </form>
</div> -->


{% endblock %}