{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.listing_title }}
{% endblock %}

{% block body %}
<center id="listing-center">
    <div class="listing">
        <div class="img_price">
            <img src="{{ listing.img_url }}" alt="{{ listing.listing_title }}">
            <div id="price">
                {% if no_of_bids == 0 %}
                    <h3 id="current-price">$ {{ listing.starting_bid }}</h3>
                {% else %}
                    <h3 id="current-price">$ {{ listing.highest_bid }}</h3>
                {% endif %}
                <div id="label">Current Price</div>
            </div>
        </div>
        <div class="details-bidding">
            <div class="details">
                {% if user.is_authenticated and user.username == listing.lister.username %}
                    <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->

                    <div id="delete">
                        <div id="background"></div>
                        <form action="{% url 'delete' listing.id %}" method="POST">
                            {% csrf_token %}
                            <!-- <input type="text" value="hello" name="listing" style="display: none;"> -->
                            <i class="fa fa-trash">
                                <input type="submit" value="">
                            </i>
                        </form>
                    </div>
<!--
                    <form action="{% url 'delete' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form> -->

                {% else %}

                    <div id="addToWatchList">
                        <div id="background"></div>
                        {% if user not in listing_watchers %}
                            <form action="{% url 'add' listing.id %}" method="POST">
                                {% csrf_token %}
                                <!-- <input type="text" value="hello" name="listing" style="display: none;"> -->
                                <input type="text" value="{{ user.username }}" name="username" style="display: none;">
                                <i class="fa-solid fa-eye" id="eye_not_in_watchlist">
                                    <input type="submit" value="">
                                </i>
                        {% else %}
                            <form action="{% url 'deleteFromWatchlist' user.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" value="{{ listing.id }}" name="listing" style="display: none;">
                                <i class="fa-solid fa-eye" id="eye_in_watchlist">
                                    <input type="submit" value="">
                                </i>
                        {% endif %}
                        </form>
                    </div>
                    

                    <!-- 

                        <form action="{% url 'add' listing.id %}" method="POST">
                            {% csrf_token %}
                            <input type="text" value="{{ user.username }}" name="username" style="display: none;">
                            <input type="submit" value="Add to Watchlist">
                        </form>

                     -->
                    <!-- to do -->
                {% endif %}
                <h1 id="listing-title">{{ listing.listing_title }}</h1>
                <p id="listing-category">{{ listing.listing_category }}</p>
                <p id="listing-description">{{ listing.listing_description }}</p>
                <div id="more_details">
                    <div id="lister" class="more_details-detail"><p class="detail-label">Lister </p><p>{{ listing.lister }}</p></div>
                    <div id="date-listed" class="more_details-detail"><p class="detail-label">Date Listed </p><p>{{ listing.date_listed }}</p></div>
                    <div id="starting-bid" class="more_details-detail"><p class="detail-label">Starting Bid </p><p>$ {{ listing.starting_bid }}</p></div>
                </div>
            </div>


            {% if user.is_authenticated and user.username == listing.lister.username %}
                <div class="close-auction">
                    <form action="{% url 'end' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{ listing.id }}" name="listing_id" style="display: none;">
                        <input type="submit" value="Close Auction" id="close-auction-button">
                    </form>
                </div>
            {% endif %}

            <div id="bidding">
                <p>{{ no_of_bids }} bid(s) so far</p>
                <form action="{% url 'bid' listing.id %}" method = "POST">
                    {% csrf_token %}
                    <div class="input_container">
                        <input type="text" value="{{ user.id }}" name="bidder" style="display: none;">
                        {% if no_of_bids == 0 %}
                            <input type="number" id="bid" name="bid" value="0" min="{{ listing.starting_bid }}">
                        {% else %}
                            <input type="number" id="bid" name="bid" value="0" min="{{ listing.highest_bid }}">
                        {% endif %}
                        <input type="submit" id="bid-button" value="Add Bid">
                    </div>
                </form>

                {% if message %}
                    <h6>{{ message }}</h6>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="comments">
        <div id="title-part">
            <h4 id="comment-title">COMMENTS</h4>
            <h4>({{ no_of_comments }})</h4>
        </div>
        <div class="input-comment">
            <form action="{% url 'addComment' listing.id %}" method="POST">
                {% csrf_token %}
                <div id="textarea-container">
                    <textarea id="" cols="20" rows="5" placeholder="Enter comment here" name="comment"></textarea>
                </div>
                <input type="text" value="{{ user.id }}" name="commenter" style="display: none;">
                <input type="submit" id="post-button" value="POST">
            </form>
        </div>

        {% for comment in comments %}
            <div class="user-comment">
                <div class="comment-details">
                    <p class="commenter">{{ comment.commenter }}</p>
                    <p class="date-commented">{{ comment.date_commented }}</p>
                </div>
                <div class="user-comment-container">
                    <p class="the-comment">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</center>

{% endblock %}



















<!--
<table>
    <tr class="listing">
        <td><img src="{{ listing.img_url }}" alt="{{ listing.listing_title }}" width="300px" height="250px"></td>
        <td>
            <h5>{{ listing.listing_title }}</h5>
            <p>{{ listing.listing_description }}</p>
            <p>Date Listed : {{ listing.date_listed }}</p>
            <p>Category : {{ listing.listing_category }}</p>
            <p>Lister : {{ listing.lister }}</p>
            {% if listing.highest_bid == 0 %}
                <h6>Starting Bid: $ {{ listing.starting_bid }}</h6>
            {% else %}
                <p>Starting Bid: $ {{ listing.starting_bid }}</p>
                <h6>Highest Bid: $ {{ listing.highest_bid }}</h6>
            {% endif %}

        </td>
    </tr>
</table>


{% if user.is_authenticated and user.username == listing.lister.username %}
<div class="for-lister" style="display:flex;">
    <form action="{% url 'end' listing.id %}" method = "POST">
        {% csrf_token %} -->
        <!-- <input type="text" value="{{ listing.id }}" name="listing_id" style="display: none;"> -->

        <!--<input type="submit" value="End Auction">
    </form>

    <form action="{% url 'delete' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
</div>

{% endif %}



<form action="{% url 'add' listing.id %}" method="POST">
    {% csrf_token %}
    <input type="text" value="{{ user.username }}" name="username" style="display: none;">
    <input type="submit" value="Add to Watchlist">
</form>

<div class="bid">
    {{ no_of_bids }} bid/s so far
    <form action="{% url 'bid' listing.id %}" method = "POST">
        {% csrf_token %}
        <p>YOUR BID</p>
        <input type="text" value="{{ user.id }}" name="bidder" style="display: none;">
        {% if listing.highest_bid == 0 %}
            <input type="number" name = "bid" value="0" min="{{ listing.starting_bid }}">
        {% else %}
            <input type="number" name = "bid" value="0" min="{{ listing.highest_bid }}">
        {% endif %}
        <input type="submit">
    </form>

    {% if message %}
        <h6>{{ message }}</h6>
    {% endif %}
</div>



<div class="biddings-list">
    <h3>Biddings</h3>
    <ul>
        {% for bid in biddings %}
            <li>{{ bid }}</li>
        {% endfor %}
    </ul>
</div>

<div class="comments">
    <h5>COMMENTS</h5>
    <form action="{% url 'addComment' listing.id %}" method="POST">
        {% csrf_token %}
        <textarea type="text" style="height: 20vh; width: 40%;" name="comment"></textarea><br>
        <input type="text" value="{{ user.id }}" name="commenter" style="display: none;"><br>
        <input type="submit" value="Post">
    </form>




    {% for comment in comments %}
        <h6>{{ comment.commenter }} ({{ comment.date_commented }})</h6>
        <p>{{ comment.content }}</p>
    {% endfor %}

</div>  -->